# Ignore environment files (security reasons)
.env*
*.tfvars

# Ignore local databases
db.sqlite3

# Ignore Terraform and AWS credentials
**/.terraform/**
*.pem
*.pem.pub

# Ignore Mac and Windows system files
.DS_Store
Thumbs.db

# Ignore Python cache & virtual environments
__pycache__/
*.py[cod]
venv/

# Ignore Git-related files
.git
.gitignore

# Ignore media/uploads (if applicable)
/media/
/staticfiles/
