{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Question display and vote form-->
<div class="container-fluid mt-7 center-content">
    <div class="row">
        <div class="col-sm text-black p">
            <span class="back-link">
                <a href="{% url 'polls:index' %}">Home /</a>
                <a href="{% url 'polls:detail' question.id question.question_text %}">
                    {{question.question_text|truncatechars:40}}
                </a>
            </span>
            <form action="{% url 'polls:vote' question.id %}" method="post" 
            class="question-display-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="comment">
                        <p class="username-style">
                            <a href="{% url 'accounts:user_account' question.user.id %}">{{question.user.username}}</a> 
                            <span class="date-style">• {{question.pub_date}}</span>
                        </p>
                        {% if versions|length > 1 %}
                        <div class="d-flex mb-4">
                            <div class="d-inline-block edited-label"><i class="bi bi-info-circle"></i>
                                This question has been edited - <a data-bs-toggle="modal" 
                                data-bs-target="#viewModalQuestionHistory" href="#">view history.</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="d-flex">
                            <div class="d-inline-block">{{question.question_text}}</div>
                            {% if user.is_authenticated %}
                            <div class="d-inline-block dropdown mx-3">
                            <button type="button" class="btn"
                            data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></button>
                            <ul class="dropdown-menu">
                            {% if user.is_authenticated and user != question.user %}
                            <li>
                            <a class="dropdown-item" href="#"><i class="bi bi-flag-fill mx-3"></i>Report</a>
                            </li>
                            {% endif %}
                        
                            {% if user.is_authenticated and user == question.user %}
                            <li>
                            <a class="dropdown-item" data-bs-toggle="modal"
                            href="#" data-bs-target="#updateModalQuestion">
                            <i class="bi bi-pencil-square mx-3"></i>Edit</a>
                            </li>
                            <li>
                            <a class="dropdown-item" data-bs-toggle="modal" 
                            href="#" data-bs-target="#deleteModalQuestion">
                            <i class="bi bi-trash mx-3"></i>Delete</a>
                            </li>
                            {% endif %}
                            </ul>
                            </div>
                            {% endif %}  
                        </div>

                        {% if question.question_body %}
                        <div class="container-sm text-body mt-3">{{question.question_body|linebreaksbr}}</div>
                        {% endif %}      
                    </legend>

                    {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                    {%endif%}
        
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" 
                    id="choice{{forloop.counter}}" value="{{choice.id}}">
                    <label for="choice{{ forloop.counter }}">
                        {{choice.choice_text}}
                    </label><br>
                    {% endfor %}
                </fieldset>

                <!--<button type="submit" class="btn btn-secondary mt-2">Vote</button> !-->
            </form>
        </div>
    </div>

    <!--Reply Form-->
    <div class="row mt-5 mb-4">
        <div class="col-sm">
            {% if user.is_authenticated %}
            <div class="card">
                <div class="d-flex justify-content-between align-items-end card-body comment">
                <div class="d-inline-block">
                <form action="{% url 'polls:create_reply' question.id question.question_text %}" 
                method="post" id="reply_form_id" novalidate>
                    {% csrf_token %}
                    <div class="question-inputs-border">
                        {{reply_form}}
                    </div>
                </form>
                </div>
                <div class="d-inline-block d-flex align-items-end mx-3">
                <button type="submit" form="reply_form_id" class="btn btn-primary">
                    Reply
                </button>
                </div>
                </div>
            </div>
            {% else %}
        <p>You must 
            <a href="{% url 'accounts:login' %}">login</a>
            or
            <a href="{% url 'accounts:register' %}">create an account</a>
            to create replies.
        </p>
        {% endif %}
        </div>
    </div>

    <!--Reply List-->
    <div class="row">
        <div class="col-sm">
            {% if latest_reply_list %}
            {% for reply in latest_reply_list %}
            <div class="card comment mt-2">
                <div class="card-body">
                    {% if highlighted_reply_id and reply.id == highlighted_reply_id %}
                    <span class="selected-question">selected reply</span>
                    {% endif %}
                    <div class="d-flex">
                        <div class="d-inline-block">
                            <p class="username-style">
                                <a href="{% url 'accounts:user_account' reply.user.id %}">{{reply.user.username}}</a> 
                                <span class="date-style">• {{reply.pub_date}}</span>
                            </p>
                        </div>
                    </div>
                    {{reply.reply_text|linebreaksbr}} 
                </div>
                    
                    <div class="card-body text-end my-0 py-0">
                    {% if user.is_authenticated %}
                    <div class="dropdown mx-3">
                    <button type="button" class="btn m-0 p-0"
                    data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></button>
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated and user != reply.user %}
                    <li>
                    <a class="dropdown-item" href="#"><i class="bi bi-flag-fill mx-3"></i>Report</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated and user == reply.user %}
                    <li>
                    <a class="dropdown-item" data-bs-toggle="modal" 
                    href="#" data-bs-target="#deleteModalReply{{reply.id}}">
                    <i class="bi bi-trash-fill mx-3"></i>Delete</a>
                    </li>
                    {% endif %}
                    </ul>
                    </div>
                    {% endif %}
                    </div>
            </div>
                <!-- DELETE REPLY MODAL -->
            <div class="modal fade" id="deleteModalReply{{reply.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{reply.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <form method="post" action="{% url 'polls:reply_delete' reply.id %}">
                    {% csrf_token %}
                    
                    <div class="modal-body text-center">
                        Do want to delete this reply?
                    </div>
                    <div class="modal-footer d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No replies yet...</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- DELETE QUESTION MODAL -->
<div class="modal fade" id="deleteModalQuestion" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <form method="post" action="{% url 'polls:question_delete' question.id question.question_text %}">
          {% csrf_token %}
          
          <div class="modal-body text-center">
            Do want to delete this question?
          </div>
          <div class="modal-footer d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- UPDATE QUESTION MODAL -->
<div class="modal fade" id="updateModalQuestion" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <!-- Modal Header -->
             <form id="updateModalForm" data-url="{% url 'polls:question_update' question.id question.question_text %}"
             data-csrf-token="{{csrf_token}}">
                <div class="modal-body text-center">
                    Edit your question:
                </div>
                <div class="question-inputs-border">
                    {{question_update_form.as_p}}
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
             </form>
        </div>
    </div>
</div>

<!-- VIEW QUESTION HISTORY MODAL -->
<div class="modal fade" id="viewModalQuestionHistory" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalQuestionHistoryLabel">Edit history of {{question.user}}'s question:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul>
                {% for version in versions %}
                <div class="card mt-3">
                    <div class="card-body comment">
                        <div class="d-flex">
                            <div class="d-inline-block">
                                <p class="username-style">
                                    <a href="{% url 'accounts:user_account' question.user.id %}">{{question.user.username}}</a> 
                                    <span class="date-style">• {{version.revision.date_created}}</span>
                                </p>
                            </div>
                        </div>
                        {{version.field_dict.question_text}}<br>
                        {% if version.field_dict.question_body %}
                        <div class="modal-history-question-body mt-2">
                            {{version.field_dict.question_body|linebreaksbr}}
                        </div>
                        {% endif %}

                        <!--
                        Date: {{version.revision.date_created}}<br>
                        <strong>{{version.field_dict.question_text}}</strong><br>
                        {% if version.field_dict.question_body %}
                        {{version.field_dict.question_body|linebreaksbr}}<br>
                        {% else %}
                        No body text provided.<br>
                        {% endif %}
                    -->
                    </div>
                </div>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'polls/detail_script.js' %}"></script>
{% endblock %}