{% extends "base.html" %}

{% block content %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{{question.pub_date}} - {{question.question_text}}</legend>
            {% if error_message %}<p><strong>{{error_message}}
            </strong></p>{%endif%}

            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{forloop.counter}}"
                value="{{choice.id}}">
                <label for="choice{{ forloop.counter }}">{{choice.choice_text}}
                </label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>

    <form action="{% url 'polls:detail' question.id %}" method="post">
        {% csrf_token %}
        {{reply_form}}
        <input type="submit" value="Reply">
    </form>

    {% if latest_reply_list %}
        <ul>
            {% for reply in latest_reply_list %}
                <li>{{reply.pub_date}} - {{reply.reply_text}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No replies yet...</p>
    {% endif %}
{% endblock content %}