{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Question display and vote form-->
<div class="container-fluid mt-7 center-content">
    <div class="row">
        <div class="col-sm text-black p">
            <span class="back-link">
                <a href="{% url 'polls:index' %}">Home /</a>
                <a href="{% url 'polls:detail' question.id question.question_text %}">
                    {{question.question_text|truncatechars:40}}
                </a>
            </span>
            <div class="card mt-2">
                <div class="card-body comment">
                    <p class="username-style">
                        <a href="{% url 'accounts:user_account' question.user.id %}">{{question.user.username}}</a> 
                        <span class="date-style">• {{question.pub_date}}
                        {% if versions|length > 1 %}
                            <div class="edited-label mt-1">
                                <i class="bi bi-info-circle"></i>
                                This question has been edited - <a data-bs-toggle="modal" 
                                data-bs-target="#viewModalQuestionHistory" href="#">view history.</a>
                            </div>
                            {% endif %}
                        </span>
                    </p>
                    
                    <div class="question-body mt-1">{{question.question_text}}</div>

                    {% if question.question_body %}
                    <div class="container-sm text-body mt-2">{{question.question_body|linebreaksbr}}</div>
                    {% endif %}      
                </div>

                <div class="card-body card-options d-flex justify-content-end align-items-center my-0 py-0">
                    <!-- RATING -->
                    {% if not user.is_authenticated %}
                    <form action="{% url 'accounts:login' %}?next={{request.path}}">
                        <button type="submit" class="remove-default-btn rating-btn">
                            <i class="bi bi-hand-thumbs-up"></i> <span class="question-rating-count">{{ question.rating.all.count }}</span>
                        </button>
                    </form>
                    
                    {% else %}
                    <form class="ratingForm" data-url="{% url 'polls:question_rating' question.id question.question_text %}" 
                    data-question-id="{{question.id}}" data-csrf-token="{{csrf_token}}">
                        <button class="remove-default-btn rating-btn" type="submit">
                            {% if user in question.rating.all %}
                            <i id="icon-{{ question.id }}" class="bi bi-hand-thumbs-up-fill"></i>
                            {% else %}
                            <i id="icon-{{ question.id }}" class="bi bi-hand-thumbs-up"></i>
                            {% endif %}
                            <span class="question-rating-count">{{ question.rating.all.count }}</span>
                        </button>
                    </form>
                    {% endif %}

                    <div class="reply-btn mx-3">
                        <i class="bi bi-chat"></i>
                        <span>{{question.reply_set.all.count}}</span>
                    </div>

                    <!-- THREE DOTS MENU -->
                    <div class="dropdown">
                        <button type="button" class="btn dot-menu-btn m-0 p-0" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {% if user != question.user %}
                            <li>
                                <a class="dropdown-item" href="#"><i class="bi bi-flag-fill mx-3"></i>Report</a>
                            </li>
                            {% endif %}
                        
                            {% if user.is_authenticated and user == question.user %}
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" href="#" data-bs-target="#updateModalQuestion">
                                    <i class="bi bi-pencil-square mx-3"></i>Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" href="#" data-bs-target="#deleteModalQuestion">
                                    <i class="bi bi-trash mx-3"></i>Delete
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div> 
                </div>
                <!-- END CARD OPTIONS -->
            </div>
        </div>
    </div>

    <!--Reply Form-->
    <div class="row mt-4">
        <div class="col-sm">
            {% if not user.is_authenticated %}
            <div class="mb-2">To create replies and access other features please
                <a style="text-decoration: none;" href="{% url 'accounts:login' %}">login</a>
                or
                <a style="text-decoration: none;" href="{% url 'accounts:register' %}">register</a>
            </div>
            {% endif %}

            <div class="card">
                <div class="d-flex justify-content-between align-items-end card-body comment">
                    <div class="left-section">
                        <form action="{% url 'polls:create_reply' question.id question.question_text %}" 
                        method="POST" id="reply_form_id" novalidate>
                            {% csrf_token %}
                            <fieldset>
                                {% if reply_form.errors %}
                                    {% for errors in reply_form.errors.values %}
                                        {% for error in errors %}
                                            <p>{{error}}</p>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                
                                <div class="question-inputs-border">
                                    {{ reply_form.reply_text }}
                                    <input type="hidden" id="replyTextInputId" value="{{reply_form.reply_text.id_for_label}}">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="right-section d-flex justify-content-end">
                        <div class="d-flex align-items-center mx-2">
                            <button type="submit" form="reply_form_id" class="btn btn-primary">
                                Reply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Reply List-->
    <div class="row mt-2">
        <div class="col-sm">
            {% if latest_reply_list %}
            {% for reply in latest_reply_list %}
            <div class="card mt-2">
                <div class="card-body comment">
                    {% if highlighted_reply_id and reply.id == highlighted_reply_id %}
                    <span class="selected-question">selected reply</span>
                    {% endif %}

                    <p class="username-style">
                        <a href="{% url 'accounts:user_account' reply.user.id %}">{{reply.user.username}}</a> 
                        <span class="date-style">• {{reply.pub_date}}</span>
                    </p>

                    <p class="reply-body mt-2">{{reply.reply_text|linebreaksbr}}</p> 
                </div>
                    
                <div class="card-body card-options d-flex justify-content-end align-items-center my-0 py-0">
                    <!-- RATING -->
                    {% if not user.is_authenticated %}
                    <form action="{% url 'accounts:login' %}?next={{request.path}}">
                        <button type="submit" class="remove-default-btn rating-btn" onclick="event.stopPropagation();">
                            <i class="bi bi-hand-thumbs-up"></i> <span class="reply-rating-count">{{ reply.rating.all.count }}</span>
                        </button>
                    </form>
                    
                    {% else %}
                    <form class="ratingForm" data-url="{% url 'polls:reply_rating' reply.id reply.reply_text %}"
                    data-reply-id="{{reply.id}}" data-csrf-token="{{csrf_token}}">
                        <button class="remove-default-btn rating-btn" type="submit" onclick="event.stopPropagation();">
                            {% if user in reply.rating.all %}
                            <i id="icon-{{ reply.id }}" class="bi bi-hand-thumbs-up-fill"></i>
                            {% else %}
                            <i id="icon-{{ reply.id }}" class="bi bi-hand-thumbs-up"></i>
                            {% endif %}
                            <span class="reply-rating-count">{{ reply.rating.all.count }}</span>
                        </button>
                    </form>
                    {% endif %}

                    <!-- THREE DOT MENU -->
                    <div class="dropdown mx-3">
                        <button type="button" class="btn dot-menu-btn m-0 p-0" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {% if user != reply.user %}
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-flag-fill mx-3"></i>Report</a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated and user == reply.user %}
                                <li>
                                    <a class="dropdown-item" data-bs-toggle="modal" href="#" data-bs-target="#deleteModalReply{{reply.id}}">
                                    <i class="bi bi-trash-fill mx-3"></i>Delete
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- DELETE REPLY MODAL -->
            <div class="modal fade" id="deleteModalReply{{reply.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{reply.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <form method="post" action="{% url 'polls:reply_delete' reply.id reply.reply_text %}">
                        {% csrf_token %}
                        
                        <div class="modal-body text-center">
                            Do want to delete this reply?
                        </div>
                        <div class="modal-footer d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No replies yet...</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- DELETE QUESTION MODAL -->
<div class="modal fade" id="deleteModalQuestion" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <form method="post" action="{% url 'polls:question_delete' question.id question.question_text %}">
          {% csrf_token %}
          
          <div class="modal-body text-center">
            Do want to delete this question?
          </div>
          <div class="modal-footer d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- UPDATE QUESTION MODAL -->
<div class="modal fade" id="updateModalQuestion" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <!-- Modal Header -->
             <form id="updateModalForm" data-url="{% url 'polls:question_update' question.id question.question_text %}"
             data-csrf-token="{{csrf_token}}">
                <div class="modal-body text-center">
                    Edit your question:
                </div>
                <div class="question-inputs-border">
                    {{question_update_form.as_p}}
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
             </form>
        </div>
    </div>
</div>

<!-- VIEW QUESTION HISTORY MODAL -->
<div class="modal fade" id="viewModalQuestionHistory" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalQuestionHistoryLabel">Edit history of {{question.user}}'s question:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul>
                {% for version in versions %}
                <div class="card mt-3">
                    <div class="card-body comment">
                        <div class="d-flex">
                            <div class="d-inline-block">
                                <p class="username-style">
                                    <a href="{% url 'accounts:user_account' question.user.id %}">{{question.user.username}}</a> 
                                    <span class="date-style">• {{version.revision.date_created}}</span>
                                </p>
                            </div>
                        </div>
                        {{version.field_dict.question_text}}<br>
                        {% if version.field_dict.question_body %}
                        <div class="modal-history-question-body mt-2">
                            {{version.field_dict.question_body|linebreaksbr}}
                        </div>
                        {% endif %}

                        <!--
                        Date: {{version.revision.date_created}}<br>
                        <strong>{{version.field_dict.question_text}}</strong><br>
                        {% if version.field_dict.question_body %}
                        {{version.field_dict.question_body|linebreaksbr}}<br>
                        {% else %}
                        No body text provided.<br>
                        {% endif %}
                    -->
                    </div>
                </div>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'polls/detail_script.js' %}"></script>
<script src="{% static 'polls/post_functions.js' %}"></script>
{% endblock %}