{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid mt-7 left-content">
    <div class="row">
        <div class="col-sm">
            <div class="left-menu d-flex flex-column justify-content-between align-items-between">
                <a class="item mt-3" href="{% url 'polls:index' %}"><i class="bi bi-house-fill"></i> Home</a><br>
                
                <a class="item" href="#"><i class="bi bi-compass-fill"></i> Explore</a><br>
                
                <a class="item" href="#"><i class="bi bi-people-fill"></i> Following</a><br>
                
                <a class="item" href="#"><i class="bi bi-bookmark-fill"></i> Bookmarks</a><br>
                
                <a class="item" href="#"><i class="bi bi-info-circle-fill"></i> About</a><br>
            </div>
        </div>
    </div>  
</div>

<!--Question Form-->
<div class="container-fluid mt-7 center-content">
    <div class="row">
        <div class="col-sm px-4">
            {% if not user.is_authenticated %}
            <div class="mb-2">To create questions and access other features please
                <a style="text-decoration: none;" href="{% url 'accounts:login' %}">login</a>
                or
                <a style="text-decoration: none;" href="{% url 'accounts:register' %}">register</a>
            </div>
            {% endif %}

            {% if messages %}
            <div class="alert alert-warning">
                {% for message in messages %}
                {{message}}
                {% endfor %}
            </div>
            {% endif %}

            <div class="d-flex flex-column justify-content-between align-items-between comment" style="gap: 8px;">
                
                <div class="top-section flex-grow-1">
                    <form action="{% url 'polls:create_question' %}" method="POST" enctype="multipart/form-data" id="question_form_id" novalidate>
                        {% csrf_token %}
                        <fieldset>
                            
                            <div class="question-inputs-border question-form-container">
                                {{ form.question_text }}
                                <input type="hidden" id="questionTextInputId" value="{{form.question_text.id_for_label}}">
                            
                                <div class="collapse" id="questionBodyCollapse">
                                    <hr>
                                    <div>
                                    {{ form.question_body }}
                                    </div>
                                    
                                    <div class="bottom-section d-flex align-items-end justify-content-between">
                                        <div class="bottom-left-section d-flex" style="gap: 8px;">
                                            <!-- ADD IMAGE UPLOAD CAPABILITY -->
                                            <div class="d-flex align-items-center">
                                                <button class="btn-icon" type="button" id="customImageButton" data-bs-toggle="tooltip" title="Add Image">
                                                    <i class="bi bi-image"></i>
                                                </button>
                                                {{ form.question_img }}
                                            </div>
                
                                            <div class="d-flex align-items-center">
                                                <button class="btn-icon" type="button" data-bs-toggle="tooltip" title="Add Link (Coming Soon)">
                                                    <i class="bi bi-link-45deg"></i>
                                                </button>
                                            </div>
                
                                            <div class="d-flex align-items-center">
                                                <button class="btn-icon" type="button" data-bs-toggle="tooltip" title="Add Poll (Coming Soon)">
                                                    <i class="bi bi-bar-chart"></i>
                                                </button>
                                            </div>
                                        </div>
                                        
                                        <div class="bottom-right-section d-flex" style="gap: 8px;">
                                            <div class="collapse countChars-question-value"></div>
                
                                            <div class="d-flex align-items-end">
                                                <div class="d-flex align-items-center">
                                                    <button type="submit" form="question_form_id" class="btn btn-primary" data-bs-toggle="tooltip" title="Post">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </fieldset>
                    </form>
                </div>
            </div>

            <div id="imageAttachMarker" class="mt-2">
                <i id="imageAttachIcon" class="bi bi-plus-lg"></i>
                <span style="margin-left: auto;"><button style="font-size: 10px; background-color: rgba(0, 0, 0, 0.125); padding:4px; border-radius:1rem; display: none;" 
                    class="btn btn-close" type="button"></button>
                </span>
            </div> 

            <div class="loader mt-2" id="loaderPreview"></div>

            <div class="image-preview image-holder d-flex justify-content-center align-items-center mt-2" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image question-image">
            </div>

        </div>  
    </div>


<!--Question List-->
    <div class="row mt-2">
        <div class="col-sm">
            {% if latest_question_list %}
                <div class="d-flex justify-content-start align-items-center">
                    <div class="dropdown">
                        <button style="color: var(--gray30); font: var(--h2light);" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            <!--{{current_sort_option|capfirst}}-->
                            {{current_sort_option|capfirst}}
                        </button>
                        <ul class="dropdown-menu mt-3">
                        {% for sorting_option, label in sorting_labels.items %}
                        <li>
                            <a href="?sort_by={{sorting_option}}" class="dropdown-item">
                                {% if label == "Oldest" %}
                                <i class="bi bi-hourglass-bottom mx-3"></i>
                                {% else %}
                                <i class="bi bi-hourglass-top mx-3"></i>
                                {% endif %}
                                {{label}}
                            </a>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div style="color: var(--gray30); font: var(--h3);">Showing {{latest_question_list|length}} Questions</div>
                </div>
              
            {% for q in latest_question_list %}
                <hr>
                <div class="card card-clickable" data-url="{% url 'polls:detail' q.id q.question_text %}"
                onclick="window.location.href=this.dataset.url">
                    <div class="card-body comment">
                        <p class="username-style">
                            <a href="{% url 'accounts:user_account' q.user.id %}">{{q.user.username}}</a> 
                            <span class="date-style">• {{q.pub_date|naturaltime}}</span>
                        </p>
                        <p class="question-body mt-2">{{q.question_text}}</p>
                        {% if q.question_body %}
                        <p class="question-body-2 mt-2"> {{q.question_body|truncatechars:140}}</p>
                        {% endif %}
                        {% if q.question_img %}
                        <div class="image-holder mt-2">
                            <img src="{{q.question_img.url}}" class="question-image">
                        </div>
                        {% endif %}
                    </div>

                    <div class="card-body d-flex justify-content-end align-items-center my-0 py-0">
                        <div class="card-options d-flex justify-content-end align-items-center my-0 py-0">
                            <!-- RATING -->
                            {% if not user.is_authenticated %}
                            <form action="{% url 'accounts:login' %}?next={{request.path}}">
                                <button type="submit" class="remove-default-btn rating-btn" onclick="event.stopPropagation();">
                                    <i class="bi bi-hand-thumbs-up"></i> <span class="question-rating-count">{{ q.rating.all.count }}</span>
                                </button>
                            </form>
                            
                            {% else %}
                            <form class="interactForm" data-url="{% url 'polls:question_rating' q.id q.question_text %}"
                            data-question-id="{{q.id}}" data-csrf-token="{{csrf_token}}">
                                <button class="remove-default-btn rating-btn" type="submit" onclick="event.stopPropagation();">
                                    {% if user in q.rating.all %}
                                    <i id="rating-{{ q.id }}" class="bi bi-hand-thumbs-up-fill"></i>
                                    {% else %}
                                    <i id="rating-{{ q.id }}" class="bi bi-hand-thumbs-up"></i>
                                    {% endif %}
                                    <span class="question-rating-count">{{ q.rating.all.count }}</span>
                                </button>
                            </form>
                            {% endif %}

                            <!-- BOOKMARK -->
                            {% if not user.is_authenticated %}
                            <form action="{% url 'accounts:login' %}?next={{request.path}}">
                                <button type="submit" class="remove-default-btn bookmark-btn" onclick="event.stopPropagation();">
                                    <i class="bi bi-bookmark-plus"></i>
                                </button>
                            </form>
                            
                            {% else %}
                            <form class="interactForm" data-url="{% url 'polls:question_bookmark' q.id q.question_text %}"
                            data-question-id="{{q.id}}" data-csrf-token="{{csrf_token}}">
                                <button class="remove-default-btn bookmark-btn" type="submit" onclick="event.stopPropagation();">
                                    {% if user in q.bookmark.all %}
                                    <i id="bookmark-{{ q.id }}" class="bi bi-bookmark-check-fill"></i>
                                    {% else %}
                                    <i id="bookmark-{{ q.id }}" class="bi bi-bookmark-plus"></i>
                                    {% endif %}
                                </button>
                            </form>
                            {% endif %}

                            <!-- NUMBER OF REPLIES -->
                            <div class="reply-btn">
                                <i class="bi bi-chat"></i>
                                <span>{{q.reply_set.all.count}}</span>
                            </div>

                            <!-- THREE DOT MENU -->
                            <div class="dropdown">
                                <button type="button" class="btn dot-menu-btn m-0 p-0" data-bs-toggle="dropdown" onclick="event.stopPropagation();">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    {% if user != q.user %}
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="event.stopPropagation();">
                                                <i class="bi bi-flag-fill mx-3"></i>Report
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_authenticated and user == q.user %}
                                        <li>
                                            <a class="dropdown-item" data-bs-toggle="modal" href="#" data-bs-target="#deleteModalQuestion{{q.id}}" onclick="event.stopPropagation();">
                                                <i class="bi bi-trash-fill mx-3"></i>Delete
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- END CARD OPTIONS -->
                        </div>
                    </div>
                </div>
                <!-- DELETE QUESTION MODAL -->
                <div class="modal fade" id="deleteModalQuestion{{q.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{q.id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <form method="post" action="{% url 'polls:question_delete' q.id q.question_text %}">
                              {% csrf_token %}
                              
                              <div class="modal-body text-center">
                                Do want to delete this question?
                              </div>
                              <div class="modal-footer d-flex align-items-center justify-content-around">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Delete</button>
                              </div>
                            </form>
                          </div>
                    </div>
                </div>
            {% endfor %}
            <hr>

            {% else %}
            <p>No questions are available.</p>
            {% endif %}
        </div>
    </div>


<!--PAGINATION (REMOVED FEATURE)
    <div class="row mt-5 mb-5">
        <div class="col-sm">
            <nav aria-label="page navigation">
            <ul class="pagination justify-content-center">
                </-- Previous Page --/>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" 
                    href="?sort_by={{current_sort_option}}&page={{ page_obj.previous_page_number }}"
                    tabindex="-1">Previous</a>
                </li>
                
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}

                <!/-- Page Numbers --/>
                {% if paginator.num_pages > 1 %}
                    {% for num in paginator.page_range %}
                    {% if num >= page_obj.number|add:'-5' and num <= page_obj.number|add:'4' %}
                        {% if page_obj.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?sort_by={{current_sort_option}}&page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                
                <!/-- Next Page --/>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?sort_by={{current_sort_option}}&page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}
            </ul>
            </nav>
        </div>
    </div>
-->
</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'polls/index_script.js' %}"></script>
<script src="{% static 'polls/app_script.js' %}"></script>
{% endblock %}