{% extends "base.html" %}

{% block content %}
<!--Question Form-->
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm p-3">
            <div class="d-flex">
            {% if user.is_authenticated %}
            <div class="d-inline-block">
            <form action="{% url 'polls:create_question' %}" 
            method="POST" id="question_form_id" novalidate>
                {% csrf_token %}
                <fieldset>
                <legend>Got a question? Ask here!</legend>
                {{ form }}
                </fieldset>
            </form>
            </div>

            <div class="d-inline-block d-flex align-items-end mx-3">
            <button type="submit" form="question_form_id" class="btn btn-primary">
                Post
            </button>
            </div>

            </div>
            {% else %}
            <p>You must 
                <a href="{% url 'accounts:login' %}">login</a>
                or
                <a href="{% url 'accounts:register' %}">create an account</a>
                to create questions.
            </p>
            {% endif %}
        </div>
    </div>

    {% block extra_js %}
    <script>
        function autoResizeTextarea(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }

        document.addEventListener('input', function (event) {
            if (event.target.classList.contains('autoExpand')) {
                autoResizeTextarea(event.target);
            }
        }, false);

        document.addEventListener('DOMContentLoaded', function () {
            var textareas = document.querySelectorAll('textarea.autoExpand');
            textareas.forEach(function (textarea) {
                autoResizeTextarea(textarea);
            });
        });
    </script>
    {% endblock %}

<!--Question List-->
    <div class="row mt-4">
        <div class="col-sm">
            {% if latest_question_list %}
            {% for q in latest_question_list %}
                <div class="card mt-4">
                    <div class="card-body comment">
                        <!-- make username links to account profile later -->
                        <p class="username-style">{{q.user.username}} 
                            <span class="date-style">• {{q.pub_date}}</span>
                        </p>
                        <a href="{% url 'polls:detail' q.id %}"
                        class="stretched-link">{{q.question_text|linebreaksbr}}
                        </a>
                    </div>
                </div>
            {% endfor %}

            {% else %}
            <p>No questions are available.</p>
            {% endif %}
        </div>
    </div>





<!--PAGINATION-->
    <div class="row mt-5 mb-5">
        <div class="col-sm">
            <nav aria-label="page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous Page -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" 
                    href="?page={{ page_obj.previous_page_number }}"
                    tabindex="-1">Previous</a>
                </li>
                
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}

                <!-- Page Numbers -->
                {% if paginator.num_pages > 1 %}
                    {% for num in paginator.page_range %}
                    {% if num >= page_obj.number|add:'-5' and num <= page_obj.number|add:'4' %}
                        {% if page_obj.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                
                <!-- Next Page -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}
            </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock content %}