{% extends "base.html" %}

{% block content %}
<div class="center-content">
{% if account_user.username == '[deleted]' %}
<h5 class="mt-7">This account has been deleted.</h5>
<hr>
<p>Profile details are unavailable.</p>

{% else %}

{% if user.is_authenticated and user.id == account_user.id %}
<h2 class="mt-7">Your Account</h2>
{% else %}
<h2 class="mt-7">{{account_user.username}}'s Account</h2>
{% endif %}


<!-- Nav tabs -->
<ul class="nav nav-tabs mt-5">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#question_list">Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#reply_list">Replies</a>
    </li>
    {% if user.is_authenticated and user.id == account_user.id %}
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#settings">Settings</a>
    </li>
    {% endif %}
</ul>
  
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="question_list"><br>
        {% for question in user_question_list %}
        <div class="card card-clickable mt-2" data-url="{% url 'polls:detail' question.id question.question_text|urlencode %}" 
        onclick="window.location.href=this.dataset.url">
            <div class="card-body comment py-2">
                <p class="username-style">
                    <a href="{% url 'accounts:user_account' question.user.id %}">{{question.user.username}}</a> 
                    <span class="date-style">• {{question.pub_date}}</span>
                </p>
                <p class="question-body">{{question.question_text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="tab-pane container fade" id="reply_list"><br>
        {% for reply in user_reply_list %}
        <div class="card card-clickable mt-2" data-url="{% url 'polls:detail' reply.question.id reply.question.question_text|urlencode %}?reply_id={{reply.id}}" 
        onclick="window.location.href=this.dataset.url">
            <div class="card-body comment py-2">
                <p class="username-style">
                    <a href="{% url 'accounts:user_account' reply.user.id %}">{{reply.user.username}}</a> 
                    <span class="date-style">• {{reply.pub_date}}</span>
                </p>
                <p class="question-body">{{reply.reply_text}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated and user.id == account_user.id %}
    <div class="tab-pane container fade" id="settings"><br>
        <h5>Delete Account</h5>
        <p><i style="color: red;" class="bi bi-exclamation-diamond-fill"></i> Warning: Account deletion is permanent. You cannot recover your account after
            deleting!
        </p>

        <button class="btn btn-danger mt-2 mb-5" data-bs-toggle="modal" 
        data-bs-target="#deleteAccountModal" href="#">Delete Account</button>
    </div>
    {% endif %}
</div>
{% endif %}
<div class="mb-5"></div>


<!-- Delete Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header d-flex align-items-center justify-content-center">
            <h5 class="modal-title">Delete Account</h5>
        </div>
        <form action="{% url 'accounts:user_account_delete' %}" method="post">
            {% csrf_token %}
        
        <div class="modal-body text-center">
            <p>Are you sure you want to delete your account?</p>
            <p style="color: red;">This action cannot be undone.</p>
        </div>
        <div class="modal-footer d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </div>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock content %}