.comment .username-style {
    font-size: 12px;
    color: darkmagenta;
}

.comment .date-style{
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 12px;
    margin-left: 8px;
}

.logo {
    color: darkmagenta !important;
}

.comment > a {
    font-size: large;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.back-link > a{
    font-size: 12px;
    color: rgb(45, 45, 45);
    text-decoration: none;
}

.question-display-form {
    margin-top: 18px;
}

textarea.autoExpand {
    overflow: hidden;
    resize: none;
    min-height: 38px;
    max-height: 300px;
}

.user-greeting {
    margin-left: auto;
}

.card.comment:hover, .card-body.comment:hover {
    background-color: rgb(250, 250, 250);
}

.card-footer {
    background-color: white;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

.btn-primary {
    background-color: darkmagenta;
    border-color: darkmagenta;
}

.btn-primary:hover {
    background-color: rgb(220, 0, 220);
    border-color: rgb(220, 0, 220);
}


/* PAGINATION */
.pagination > li > a
{
    background-color: white;
    color: darkmagenta;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: darkmagenta;
    background-color: whitesmoke;
    border-color: none;
}

.pagination > .active > a
{
    color: darkmagenta;
    background-color: darkmagenta !important;
    border: solid 1px darkmagenta !important;
}

.pagination > .active > a:hover
{
    background-color: darkmagenta !important;
}

.pagination > .active > .page-link
{
    background-color: darkmagenta !important;
    border: solid 1px darkmagenta !important;
}
/* END PAGINATION */