:root {
    --ff: "Arial", verdana;
    --h1: 500 1.0rem/1.2em var(--ff);
    --h2: normal 0.875rem/1.4em var(--ff);
    --h2light: 100 0.875rem/1.2em var(--ff);
    --h3: normal 0.75rem/1.2em var(--ff);

    --gray100: hsl(0, 0%, 100%);
    --gray97: hsl(0, 0%, 97%);
    --gray90: hsl(0, 0%, 90%);

    --gray70: hsl(0, 0%, 70%);
    --gray40: hsl(0, 0%, 40%);
    --gray30: hsl(0, 0%, 30%);

    --gray0: hsl(0, 0%, 0%);
}

body {
    background-color: var(--gray100);
    font-family: var(--ff);
}

/* NAVBAR */
.navbar-custom {
    background-color: var(--gray100);
    box-shadow: 0 2px 5px -5px var(--gray70);
}

.navbar-custom .navbar-brand{
    color: darkmagenta;
}

@media only screen and (max-width: 768px) {
    .navbar-toggler {
        border-color: transparent;
    }
    
    .navbar-toggler-icon {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%238B008B'%3E%3Ccircle cx='12' cy='8' r='4'/%3E%3Cpath d='M4 20c0-4 4-6 8-6s8 2 8 6'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
    }
}

.navbar-custom .navbar-text {
    color: var(--gray40);
    font: var(--h2);
}

.navbar-custom .nav-link:hover {
    color: darkmagenta;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: darkmagenta !important;
    background-color: hsl(0, 0%, 97%) !important;
    border-color: #dee2e6 #dee2e6 hsl(0, 0%, 97%) !important;
}

.nav-link {
   color: #495057;
}

.nav-link:hover {
    color: darkmagenta;
}

.logo {
    color: darkmagenta !important;
}

/* SEARCH BAR */
/* search container shrinks and grows flexibly */

/* Adjust the placeholder text for smaller screens */
/* Extra small screens (up to 450px) */
@media (max-width: 450px) {
    #search-input {
        width: 100px;
    }
    #search-input::placeholder {
        font-size: 12px; /* Smallest text */
    }
}

/* Small screens (from 451px to 649px) */
@media (min-width: 451px) and (max-width: 649px) {
    #search-input {
        width: 150px;
    }
    #search-input::placeholder {
        font-size: 14px;
    }
}

/* Medium screens (from 650px to 899px) */
@media (min-width: 650px) and (max-width: 899px) {
    #search-input {
        width: 200px;
    }
    #search-input::placeholder {
        font-size: 16px;
    }
}

/* Large screens (900px and above) */
@media (min-width: 900px) {
    #search-input {
        width: 400px;
    }
    #search-input::placeholder {
        font-size: 16px;
    }
    .search-box {
        margin-left: auto;
    }
}

#search-input {
    border: none;
    outline: none;
    padding: 2px;
    box-shadow: none;
}

.search-box {
    padding: 2px 4px 2px 4px;
    border: solid 2px rgba(0, 0, 0, .125);
    border-radius: 1rem;
    transition: border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:focus-within, .search-box:hover {
    border-color: darkmagenta;
}

#search-results {
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-left: auto;
    animation: fadeIn 0.3s;
}

/* MAIN PAGE CONTAINERS*/
.base-page {
    display: flex;
    align-items: start;
    justify-content: center;
}

.base-page .left-content {
    width: 15%;
    margin-left: 0; margin-right: 0;
    width: 250px;
    display: none;
}
.left-menu {
    border-right: solid 1px rgba(0, 0, 0, .125);
    position: fixed;
    width: 250px;
}
.item {
    text-decoration: none;
    margin-left: 24px;
    font: var(--h1);
    color: var(--gray40);
}
.item:hover {
    color: darkmagenta;
}

.left-menu-collapse {
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 325px !important;
    padding: 14px !important;
    border-right: none !important;
    animation: Bounce 0.3s ease-in-out;
}

/* Large screens (1150px and above) */
@media (min-width: 1150px) {
    .left-content {
        display: block !important;
    }
    #left-menu-toggler {
        display: none !important;
    }
    .left-menu-collapse {
        display: none !important;
    }
}

.base-page .center-content {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}

.base-page .center-content-auth {
    width: 95%;
    min-width: 300px;
    max-width: 400px;
}


.comment .username-style {
    font: var(--h2);
    color: darkmagenta;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.comment .username-style > a {
    color: darkmagenta;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.comment .username-style>a:hover {
    color: darkblue;
}

.comment .date-style, .edited-label{
    color: var(--gray40);
    font: var(--h2light);
}

.comment .edited-label > a {
    text-decoration: none;
    font: var(--h2light);
}

.comment > .question-body {
    font: var(--h1);
    color: var(--gray0);
    text-decoration: none;
    margin: 0; 
    padding: 0;
}
.comment > .question-body-2 {
    font: var(--h2light);
    color: var(--gray40);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#imageAttachMarker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imageAttachIcon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#imageAttachMarker span {
    margin-left: auto;
    padding-left: 8px;
}

.image-preview__image, #imageAttachIcon {
    display: none;
    animation: zoomIn 0.3s ease-in-out;
}
.image-preview {
    animation: zoomIn 0.3s ease-in-out;
}

.image-holder {
    width: 100%;
    border-radius: 1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.question-image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 550px;
}

.comment > .reply-body {
    font: var(--h2);
    color: var(--gray0);
    text-decoration: none;
    margin: 0; 
    padding: 0;
}

.comment > .text-body {
    background-color: var(--gray97);
    font: var(--h2light);
    color: var(--gray40);
    padding: 18px;
    border-radius: 0.50rem;
    overflow-wrap: break-word;  /* Ensures long words break within the container */
    word-wrap: break-word;      /* For older browser support */
    white-space: pre-wrap;      /* Maintains line breaks */
    max-width: 100%;
}


/* QUESTION/REPLY FORMS AND INPUTS */
.question-form-custom {
    border-radius: 1rem;
    border-color: var(--gray100);
}

.question-inputs-border input, 
.question-inputs-border textarea {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    box-shadow: none;
}

/* Add custom border when the parent div is focused */
.question-inputs-border {
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
    padding: 5px;
    transition: border-color 0.3s ease;
}

.question-inputs-border ::-webkit-scrollbar {
    display: none;
}

/* Highlight border on focus */
.question-inputs-border:focus-within, .question-inputs-border:hover {
    border-color: darkmagenta;
    background-color: rgba(0, 0, 0, .02);
}

.bottom-left-section {
    border: 2px solid rgba(0, 0, 0, .125);
    background-color: white;
    border-radius: 1rem;
    padding: 2px 4px 2px 4px;
    transition: border-color 0.3s ease;
}

.bottom-left-section:hover {
    border-color: darkmagenta;
}

.sorting-options {
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: .50rem;
    padding: 5px;
    transition: border-color 0.3s ease;
}


/* CUSTOM MODAL */
.modal-content {
    border-radius: 1rem;
}

.modal-title {
    color: var(--gray0);
    font: var(--h1);
}

.modal-body {
    max-height: calc(100vh - 210px);
    font: var(--h1);
    overflow-y: auto;
}

.modal-history-question-body {
    background-color: var(--gray97);
    font: var(--h2light);
    border-radius: 0.50rem;
    padding: 18px;
}


.back-link > a{
    font: var(--h3);
    color: var(--gray40);
    text-decoration: none;
}

.selected-question {
    font: var(--h3); 
    color: var(--gray0);
    background-color: var(--gray97);
    border: solid 1px darkgrey;
    padding: 4px 8px;
    border-radius: 15px;
    margin: 0;
}



textarea.autoExpand {
    resize: none;
    min-height: 38px;
    max-height: 100px;
}

textarea {
    overflow-y: scroll;
    resize: none;
    min-height: 38px;
}

/* CARD */
.card {
    border: none;
    padding: 0;
    border-radius: 1rem;
}

hr {
    margin: 4px;
}

.card-options {
    font: var(--h2);
    color: var(--gray30);
    background-color: hsl(0, 0%, 92%);
    padding: 2px;
    border-radius: 1rem;
    gap: 12px;
}

.dropdown-menu {
    border-radius: 1rem !important;
    box-shadow: 0 3px 10px -5px var(--gray70);
}

.card.card-clickable:hover {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 1rem;
    transition: background-color 100ms;
}

.card-footer {
    background-color: var(--gray100);
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

/* CUSTOM BUTTONS */
.btn-primary {
    background-color: white;
    font-size: 20px;
    color: darkmagenta;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
    padding: 12px;
}

.btn-primary:hover {
    border-color: darkmagenta;
    background-color: rgba(0, 0, 0, .03);
    color: darkmagenta;
    border-radius: 1rem;
}

.btn-primary:focus {
    outline: none;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .125);
    color: darkmagenta;
    box-shadow: 0 0 0 0.2rem rgba(139, 0, 139, 0.25);
}

.btn-secondary {
    background-color: white;
    font-size: 20px;
    color: black;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
    padding: 12px;
}

.btn-secondary:hover {
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 1rem;
}

.btn-danger {
    background-color: white;
    font-size: 20px;
    color: red;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
    padding: 12px;
}

.btn-danger:hover {
    border-color: red;
    background-color: white;
    color: red;
    border-radius: 1rem;
}

.btn-danger:focus {
    outline: none;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .125);
    color: red;
    box-shadow: 0 0 0 0.2rem rgba(139, 0, 139, 0.25);
}

.form-control:focus, button:focus{
    -webkit-box-shadow: none;
    box-shadow: none !important;
    outline: 0 !important;
}

.btn-icon {
    background: none;
	border: none;
	padding: 2px 4px 2px 4px;
	cursor: pointer;
    color: darkmagenta;
    font: var(--h1);
}

.btn-icon:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 1rem;
}

.remove-default-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.rating-btn, .bookmark-btn, .dot-menu-btn {
    padding: 4px;
    border-radius: 1rem;
}
.rating-btn:hover, .bookmark-btn:hover, .dot-menu-btn:hover {
    background-color: hsl(0, 0%, 85%);
    padding: 4px;
    border-radius: 1rem;
}

.btn-container {
    display: flex;
    align-items: center;
}
.loader {
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid darkmagenta;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

.loading {
    background-color: #ccc;
    pointer-events: none;
}

.wisqer-bot-btn {
    /* From https://css.glass */
    background: rgba(250, 210, 250, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(250, 210, 250, 0.3);
    text-align: left;
    color: darkmagenta;
}
.wisqer-bot-btn:hover {
    color: darkmagenta;
    border-color: darkmagenta;
}

/* custom margin selectors */
.mt-6 {
    margin-top: 72px;
}

.mt-7 {
    margin-top: 96px;
}


/* card-clickable selectors */
.card-clickable {
    cursor: pointer;
}

.card-clickable a,
.card-clickable button {
    pointer-events: auto; /* Allow links and buttons to be clickable */
}

/* Prevent pointer events on everything else inside the clickable card */
.card-clickable *:not(a):not(button) {
    pointer-events: none;
}


/* CUSTOM RATE BUTTON */
/* From Uiverse.io by catraco */ 
/*------ Settings ------*/
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .container .thumbs-up-regular {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .thumbs-up-solid {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .thumbs-up-regular {
    display: none;
  }
  
  .container input:checked ~ .thumbs-up-solid {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


/* PAGINATION (NOT CURRENTLY IN USE)*/
.pagination > li > a
{
    background-color: white;
    color: darkmagenta;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: darkmagenta;
    background-color: whitesmoke;
    border-color: none;
}

.pagination > .active > a
{
    color: darkmagenta;
    background-color: darkmagenta !important;
    border: solid 1px darkmagenta !important;
}

.pagination > .active > a:hover
{
    background-color: darkmagenta !important;
}

.pagination > .active > .page-link
{
    background-color: darkmagenta !important;
    border: solid 1px darkmagenta !important;
}
/* END PAGINATION */


/* KEYFRAME ANIMATIONS */
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2) rotate(-10deg);
    }
  }

  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Bounce {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.10);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}