<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Wisqer</title>
    {% endif %}
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid px-3">
            <a class="navbar-brand logo" href="{% url 'polls:index' %}">WISQER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto"></ul>
                <ul class="navbar-nav user-greeting">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link">Hi, {{ request.user.username }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% bootstrap_javascript %}
    {% block extra_js %}{% endblock %}
</body>
</html>